*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    text-transform:capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
#first{
    background-color: royalblue;
    height: 200px;
    color: white;
    align-content: center;
    text-align: center;
    font-size: 20px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 15px;
}
#second{
    background-color:antiquewhite;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#second p{
    font-size: small;
}

#third{
    background-color: lightblue ;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
}
#third1{
    background-color: white;
    font-size: 12px;
    margin: 10px 80px 0px 80px;
    height: 30px;
    text-align: center;
    align-content: center;
}
#third2{
    background-color: white;
    font-size: 12px;
    margin: 10px 80px 0px 80px;
    height: 30px;
    text-align: center;
    align-content: center;
}
#fourth{
    background-color: lightgoldenrodyellow ;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
}
#fourth1{
    background-color: white;
    font-size: 12px;
    margin: 10px 80px 0px 80px;
    height: 30px;
    text-align: center;
    align-content: center;
}
#fourth2{
    background-color: white;
    font-size: 12px;
    margin: 10px 80px 0px 80px;
    height: 30px;
    text-align: center;
    align-content: center;
}
#fifth{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 3%;
}