*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: f1;
    src: url(./AnotherGames.ttf);
}
html,body{
    height: 100%;
    width: 100%;
}
#box{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(jinwoo\ 5.jpeg);
    background-position: top;
    text-align: center;
    padding: 50px;
    letter-spacing: 5px;
}
h1{
    font-family: f1;
    font-size: 100px;
    color: rgb(103, 127, 215);
    font-weight:100;
}
p{
    font-family: f1;
    font-size: 20px;
    color: rgb(103, 127, 215);
    font-weight:100;
    margin-bottom: 20px;
}
button{
    color: rgb(103, 127, 215);
    border-radius: 5px;
    border: 1px solid rgb(103, 127, 215);
    font-size: 30px;
    font-family: f1;
    backdrop-filter:var(50px);
    background-color: rgba(0, 0, 0, 0.21);
    padding: 10px;
}